.class-overview {
    &__details {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-detail {
            font-size: 1rem;
            font-weight: $font-weight-regular;
            color: $white;

            &-title {
                font-weight: $font-weight-bold;
            }
        }

        &-wrapper {
            padding: 2rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            gap: 2rem;
        }
    }

    &__participants-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: left;
        gap: 1rem;
    
    }
}
